.posts {
  padding: 10px 15px;
  width: 100%;
}

.post {
  background-color: #FFFFFF;
  border-radius: .5rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.post-title {
  color: #9400d3;
  text-decoration: none;
}

.post-title h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-date {
  margin-bottom: 5px;
}